
<div class='d-flex flex-wrap container'></div>
{{#each reviewdata as |movie|}}
    <div
      class='d-flex col-3 m-3 border border-black card flex-column justify-content-between align-items-center'
    >
      <div class=''>
        <img
          style='height: 350px; width: auto'
          class='m-4'
          src='{{movie.posterImage}}'
          alt=''
        />
      </div>
      <div class='p-2'>
        <p class=''>
          {{movie.review}}
        </p>
      </div>
    </div>
{{/each}}
</div>

/*
<h1>Homepage view goes here!</h1>
 <form class="form movie-form">
      <div class="form-group">
        <label for="name-movie">Movie Search:</label>
        <input class="form-input" type="text" id="name-movie" />
    </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>

    <script src='/js/search.js'></script>
    */

