<h1>Movie Search</h1>

<form id='search-form' class='d-flex' role='search'>
  <input
    class='form-control me-2'
    type='search'
    placeholder='Search'
    aria-label='Search'
    id='search-input'
  />
  <button class='no-button' type='submit'>Search</button>
</form>

<div id='search-results' class='container d-flex flex-wrap'></div>

<script src='/js/search-movies.js'></script>
