<form id='search-form' class='d-flex' role='search'>
  <input
    class='form-control me-2'
    type='search'
    placeholder='Search for a movie...'
    aria-label='Search'
    id='search-input'
  />
  <button class='btn btn-primary' type='submit'>Search</button>
</form>

<div class='container d-flex justify-content-center'>
  <p id='search-error' class='error-msg'></p>
</div>

<div
  id='search-results'
  class='container d-flex flex-wrap justify-content-center'
></div>

<script src='/js/search-movies.js'></script>
