<h1>Homepage view goes here!</h1>
<div id='search-form'>
  <input
    type='text'
    id='search-movies-input'
    placeholder='Enter your search term'
  />
  <button type='submit' id='search-button'>Search</button>
</div>

<script src='search-movies.js'></script>
