
<div class='d-flex flex-wrap container'></div>
{{#each reviewdata as |movie|}}
    <div
      class='d-flex col-3 m-3 border border-black card flex-column justify-content-between align-items-center'
    >
      <div class=''>
        <img
          style='height: 350px; width: auto'
          class='m-4'
          src='{{movie.posterImage}}'
          alt=''
        />
      </div>
      <div class='p-2'>
        <p class=''>
          {{movie.review}}
        </p>
      </div>
    </div>
{{/each}}
</div>


 <form class="form" id="search-form">
      <div class="form-group">
        <label for="search-input">Movie Search:</label>
        <input class="form-input" type="text" id="search-input" />
    </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </form>
    
    <div id="search-results"></div>

    <script src='/js/search-movies.js'></script>
    */

