<h1>Movie</h1>

<div class='card'>
  <img src='' alt='' class='card-img-top' />
  <div class='card-body'>
    <h5 class='card-title'>{{title}}hi</h5>
    <p class='card-text'>{{description}}</p>
    <p class='card-text'>Released: {{year}}</p>
    <p class='card-text'>Average rating: {{rating}}</p>
  </div>
</div>
