
<div class="card">
  <div class="card-header">
    <h3>{{ movie.title }}</h3>
    <p>Rating: {{ review.rating }}/5</p>
  </div>
  <div class="card-body">
    <p>{{ review.content }}</p>
    <p>Reviewed by: {{ user.username }}</p>
  </div>
</div>