<div class='container d-flex justify-content-center'>
  <div class='col-md-6'>
    <form class='form signup-form d-flex flex-column align-items-center'>
      <h2><span>sign up</span></h2>
      <div class='form-group m-2 col-9'>
        <label for='email-signup' class='h4'>email:</label>
        <input class='form-control' type='text' id='email-signup' />
      </div>
      <div class='form-group m-2 col-9'>
        <label for='name-signup' class='h4'>username:</label>
        <input class='form-control' type='text' id='name-signup' />
      </div>
      <div class='form-group m-2 col-9'>
        <label for='password-signup' class='h4'>password:</label>
        <input class='form-control' type='password' id='password-signup' />
      </div>
      <div class='form-group m-2'>
        <button class='btn btn-success' type='submit'>Let's go</button>
      </div>
    </form>

  </div>
</div>

<script src='./js/signup.js'></script>
